asasdasdasd
.aside-box{
    display: flex;
    justify-content: space-between;
    height: 140vh;
}


/*     R     I     G     H     T      */


.aside-right{
    width: 50%;
    background-image: url("../../Assets/Img/bg-05-free-img.jpg");
    transition: background-image 1s;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}


/* .aside-right:hover{
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("../../Assets/Img/bg-05-free-img.jpg");
} */

.aside-right::after {
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    transition: all .6s;
}

.aside-right > * {
    z-index: 10;
}

.aside-right:hover::after {
    background-color: rgba(0, 0, 0, 0.425);
}

.aside-sale-box1{
    margin-left: 60px;
    margin-top: -50px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    font-size: 40px;
    font-weight: bold;
    z-index: 2;
}

.aside-sale-box-text{
    margin-top: -20px;
    font-size: 70px;
}

.aside-right-title-box{
    margin-top: 200px;
    padding: 50px;
    color: #fff;
}

.aside-right-subtitle{
    font-size: 30px;
}

.aside-right-title{
    margin: 20px 0px;
    line-height: 100%;
    font-size: 70px;
    font-weight: bolder;
    margin-bottom: 50px;
}


.aside-box-link{
    background-color: #fff;
    padding: 12px 30px;
    border-radius: 25px;
    color: rgb(222, 148, 30);
    letter-spacing: 3px;
    font-weight: bold;
    transition: 0.3s;
}

.aside-box-link:hover{
    color: #E63945;
}















/*     L  E  F  T       */


.aside-left{
    width: 50%;
    display: flex;
    flex-direction: column;
}


.aside-left-top{
    height: 70vh;
    background-image: url("../../Assets/Img/bg-06-free-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.aside-left-bottom{
    height: 70vh;
    background-image: url("../../Assets/Img/bg-07-free-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.aside-sale-box2{
    margin-top: -10px;
    margin-bottom: 0;
    background-color: rgb(222, 148, 30);
    width: 150px;
    height: 150px;
}

.aside-sale-box-text2{
    font-size: 50px;
}

.aside-right-title-box2{
    margin-top: 0;
}

.aside-right-title{
    font-size: 50px;
}

.aside-sale-box3{
    background-color: #E63945;
}
