.about{
    background-color: #FAAB34;
}

.about-text-box{
    padding-top: 50px;
    text-align: center;
}

.about-text-box h3{
    font-size: 16px;
    color: #fff;
    letter-spacing: 5px;
    font-weight: bold;
}

.about-text-box p{
    margin: 30px 0px;
    font-size: 60px;
    color: #fff;
    line-height: 50px;
    font-weight: bold;
    font-weight: bold;
    font-weight: bold;
}



.about-list{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.about-item{
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

.about-item:nth-child(3){
    text-align: end;
}

.about-item div{
    margin: 60px 0px;
}

.about-item p:nth-child(2){
    margin-top: 10px;
    width: 300px;
}